<!DOCTYPE html>
<html lang="<%= config.language %>">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><% if (page.title){ %><%= page.title %> | <% } %><%= config.title %></title>
    <% if (config.highlight.enable){ %>
      <%- css('https://cdn.jsdelivr.net/npm/typeface-source-code-pro@0.0.71/index.min.css') %>
    <% } %>
    <%- css('css/minimal.css') %>
    <% if (theme.fancybox){ %>
      <%- css('fancybox/jquery.fancybox.min.css') %>
    <% } %>
    <%- css('https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css') %>
  </head>
  <body>
    <div class="wrapper">
      <header>
      </header>
      <section>
      <%- body %>
      </section>
      <footer>
      </footer>
    </div>
  </body>
</html>
